<div class="about-page">
    <div class="container">

        {% section 'about-template' %}
        {% section 'choose-category' %}
        {% section 'dinamic-section' %}
        
    </div>
</div>
